dbt-duckdb>=1.9,<2.0
duckdb>=1.1
pandas>=2.0
pyyaml>=6.0
scikit-learn>=1.4
xgboost>=2.0
shap>=0.45
matplotlib>=3.8
jupyter>=1.0
numpy>=1.26
dask>=2024.4
seaborn>=0.13
category_encoders>=2.6
sentence-transformers>=3.0
ipykernel>=6.29
rank_bm25>=0.2.2